	body {
  padding: 50px;
  background: none;
}

.rate {
  display: inline-block; /*или float:left;, как удобнее, а можно просто ширину задать*/
  &__input {
    display: none;
  }
  &__item {
    float: right;
    margin: 0 1px;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    font-size: 0;
    color: #ff0;
    &:before{
      content: '\2606';
      font-size: 30px;
      transition: transform .2s;
      display: block;
    }
    &:hover{
      color: #f90;
    }
    .rate__input:checked + &{
      cursor: default;
      color: #ff0;
    }
    .rate__input:checked ~ &{
      &:before{
        content: '\2605';
        transform: rotateY(180deg);
      }
    }
  }
}